body {
    
    background-color: lightpink;
    
}
.Topnavbar {
    background-color:orange;
    padding: 23px 20px;
    
}
.Topnavbar a {
    color: black;
    font-size: 19px;
    font-family: monospace;
    font-style: italic;
    margin: 25px 20px;

}
.Topnavbar a :hover {
    color: white;
    padding: 30px 25px;
}
.welcome {
    text-align: center;
    color: blue;
    font-family: sans-serif;
}
.welcome h4 {
    font-size: 25px;
    font-style: italic;
}

/* Container holding the image and the text */

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
  h3 {
      color: black;
      text-align: center;
      background-color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  footer {
    background-color: greenyellow;
    color:blue;
    font-size: 30px;
    border-radius: 10%;
    text-align: center;

}